@import url("../css/bootstrap.min.css");
@import url("../fonts/feather/feather.css");
@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("../fonts/avenir/stylesheet.css");
@import url("../css/animate.css");
body {
  background-color: #fff;
  font-family: "Avenir-Book" !important;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  overflow-x: hidden;
}

p {
  font-size: 16px;
  line-height: 32px;
}

p.big {
  font-size: 20px;
  line-height: 32px;
}

p.small {
  font-size: 14px;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

h1 {
  font-size: 54px;
  line-height: 62px;
  font-weight: 700;
}

h2 {
  font-size: 56px;
  line-height: 64px;
  font-weight: 700;
}

h3 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

h5 {
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
}

h6 {
  font-size: 12px;
  line-height: 26px;
  font-weight: 700;
}

label {
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #000;
  font-size: 16px;
  line-height: 32px;
}

a:hover {
  color: #000;
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  border: 0 none;
  margin: 0 auto;
  padding: 0;
}

.no-pointer-event {
  pointer-events: none;
}

/*   normalize  */
@media (min-width: 1200px) {
  .container {
    max-width: 1185px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1185px;
  }
}

.btn.btn-primary {
  height: 47px !important;
  color: #fff !important;
  background-color: #0f2d1f !important;
  border-color: rgba(255, 255, 255, 0.18) !important;
  border-radius: 4px !important;
  font-family: "Avenir-Heavy";
  font-size: 16px;
  line-height: 19px;
  padding: 12px 15px 17px 15px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn.btn-primary:hover {
  -webkit-box-shadow: 0 3px 15px 0 rgba(167, 210, 136, 0.3);
          box-shadow: 0 3px 15px 0 rgba(167, 210, 136, 0.3);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn.btn-primary:focus {
  -webkit-box-shadow: 0 3px 15px 0 rgba(167, 210, 136, 0.3);
          box-shadow: 0 3px 15px 0 rgba(167, 210, 136, 0.3);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.btn.btn-secondary {
  height: 47px !important;
  color: #2e3d36 !important;
  background-color: #a7d288 !important;
  border-color: rgba(255, 255, 255, 0.18) !important;
  border-radius: 4px !important;
  font-size: 16px;
  font-family: "Avenir-Heavy";
  line-height: 19px;
  padding: 12px 15px 17px 15px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn.btn-secondary:hover {
  -webkit-box-shadow: 0 3px 15px 0 rgba(167, 210, 136, 0.3);
          box-shadow: 0 3px 15px 0 rgba(167, 210, 136, 0.3);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn.btn-secondary:focus {
  -webkit-box-shadow: 0 3px 15px 0 rgba(167, 210, 136, 0.3);
          box-shadow: 0 3px 15px 0 rgba(167, 210, 136, 0.3);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.btn-pad-60 {
  padding: 12px 60px !important;
}

.btn-pad-45 {
  padding: 12px 45px !important;
}

.btn-full {
  width: 100%;
}

.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-color: #000;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.icon-plane {
  -webkit-mask: url(../images/icon/telegram-plane.svg) no-repeat 50% 50%;
  mask: url(../images/icon/telegram-plane.svg) no-repeat 50% 50%;
  width: 25px;
  height: 23px;
}

.custom-checkbox {
  padding-left: 30px;
}

.custom-checkbox .custom-control-label {
  font-weight: 400;
  color: #333;
  font-size: 16px;
  line-height: 17px;
}

.custom-checkbox .custom-control-label::before {
  top: 7px;
  width: 20px;
  height: 20px;
  left: -30px;
}

.custom-checkbox .custom-control-label::after {
  top: 7px;
  width: 20px;
  height: 20px;
  left: -30px;
}

.custom-checkbox .custom-control-label a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  color: #000;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #000;
  border-color: #000;
}

/* ############################ header section ############################### */
.fixed-top {
  background-color: #A7D288 !important;
  -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
          box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 70px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header {
  height: 90px;
  position: relative;
}

.header .page-title {
  display: none;
}

.header .col-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .col-header .col-30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
}

.header .col-header .col-70 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  max-width: 80%;
}

.header .row-100 {
  width: 100%;
  margin: 0;
}

.header .row-100 .col-12 {
  padding: 0;
}

.header .navbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  background-color: transparent;
  white-space: nowrap;
  z-index: 999;
}

.header .navbar .navbar-brand {
  width: 180px;
  height: auto;
}

.header .navbar .navbar-brand img {
  width: 100%;
}

.header .navbar .collapse1 {
  height: 100%;
}

.header .navbar .collapse1 .navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .collapse1 .navbar-nav .nav-item a {
  color: rgba(15, 45, 31, 0.7);
  font-size: 16px;
  line-height: 32px;
  padding: 8px 18px;
  font-family: "Avenir-medium";
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header .navbar .collapse1 .navbar-nav .nav-item a:hover {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #0f2d1f;
}

.header .navbar .collapse1 .navbar-nav .nav-item a.active {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #0f2d1f;
}

.header .navbar .collapse1 .navbar-nav .nav-btn {
  padding-left: 20px !important;
}

.header .navbar .collapse1 .navbar-nav .nav-btn a.btn {
  font-size: 16px;
  min-height: 30px;
  line-height: 32px;
  border-radius: 4px;
  background-color: transparent !important;
  padding: 8px 40px !important;
  color: #0f2d1f !important;
  font-family: "Avenir-Heavy";
  border-color: rgba(15, 45, 31, 0.7) !important;
}

/* menu responsive */
.navbar-expand-md .navbar-toggler {
  display: none;
}

.sidenav-new-menu .closebtn {
  display: none;
}

/* ############################## Home section ############################### */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 14px;
  color: #333;
  letter-spacing: 0;
  font-weight: 600;
  margin-bottom: 10px;
}

.form-group .form-control {
  border: 1px solid #dadada;
  height: 48px;
  background-color: #fff;
  font-size: 16px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  padding: 14px 16px;
  border-radius: 12px;
}

.form-group .form-control:focus {
  border-color: #000;
  color: #000;
}

.input-group .input-group-addon {
  position: absolute;
  right: 15px;
  top: 13px;
  z-index: 99;
}

.input-group .input-group-addon a {
  text-decoration: none;
  color: #727272;
}

.input-group .input-group-addon i {
  font-size: 20px;
}

.input-group .form-control {
  padding-right: 40px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #000 !important;
  color: #fff;
}

.select2 {
  width: 100% !important;
}

.select2-container {
  border: 0;
}

.select2-container--default .select2-selection--single {
  outline: 0;
  height: 48px !important;
  border: 1px solid #dadada !important;
  border-radius: 12px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  border: 0 solid #dadada;
  height: 46px;
  background-color: #fff;
  border-radius: 12px;
  font-size: 16px;
  line-height: 48px !important;
  font-weight: 500;
  padding-left: 20px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 48px !important;
  width: 30px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #333 transparent transparent transparent !important;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #333 transparent !important;
  border-width: 0 4px 5px 4px;
}

/*  middle section start here */
.inner-page {
  padding-top: 0;
}

.middle-section {
  height: auto;
  /* inner pages section */
}

.middle-section .home-banner-section {
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: #A7D288;
  height: 100%;
}

.middle-section .home-banner-section .home-banner-inner {
  padding: 30px 0 0 0;
  overflow: hidden;
}

.middle-section .home-banner-section .banner-img .img-responsive img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.middle-section .home-banner-section .owl-dots {
  position: absolute;
  left: 50%;
  right: 0;
  bottom: -70px;
  padding-left: 15px;
}

.middle-section .home-banner-section .owl-dots .owl-dot {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.middle-section .home-banner-section .owl-dots .owl-dot span {
  background-color: transparent;
  border: 1px solid #0F2D1F;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.middle-section .home-banner-section .owl-dots .owl-dot.active span {
  background-color: #0F2D1F;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.middle-section .home-banner-section .banner-caption-bg {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.middle-section .home-banner-section .banner-caption-bg::after {
  content: "";
  background-image: url("../images/que-shape.svg");
  background-position: -50% 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: auto;
  right: -140px;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.middle-section .home-banner-section .banner-caption {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 30px;
  z-index: 2;
  position: relative;
}

.middle-section .home-banner-section .banner-caption h1 {
  font-family: "Avenir Black";
  font-size: 54px;
  line-height: 62px;
  color: #0F2D1F;
  margin-bottom: 20px;
}

.middle-section .home-banner-section .banner-caption h1 span.block {
  display: block;
}

.middle-section .home-banner-section .banner-caption .btn {
  font-family: "Avenir-Heavy";
  font-size: 20px;
  line-height: 24px;
  color: #fff !important;
  background-color: #0F2D1F !important;
}

.middle-section .home-banner-section .text-link {
  color: #0f2d1f;
  font-size: 14px;
  line-height: 26px;
  margin-top: 42px;
  display: block;
}

.middle-section .home-banner-section .text-link img {
  position: relative;
  top: -2px;
  width: 12px;
  height: 16px;
  margin-right: 5px;
}

.middle-section .get-started-section {
  padding: 120px 0;
  background-color: #f9fdfb;
  position: relative;
}

.middle-section .get-started-section::after {
  content: '';
  background-image: url(../images/bg-line.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: block;
  z-index: 2;
}

.middle-section .get-started-section .get-started-inner {
  position: relative;
  z-index: 3;
}

.middle-section .get-started-section .heading {
  margin-bottom: 30px;
}

.middle-section .get-started-section .heading h2 {
  color: #3c454c;
  font-size: 36px;
  line-height: 48px;
  font-weight: 900;
  font-family: "Avenir Black";
  text-align: center;
  text-transform: capitalize;
}

.middle-section .get-started-section .get-stated-main .pl-20 {
  padding-left: 20px;
}

.middle-section .get-started-section .get-stated-main .pr-20 {
  padding-right: 20px;
}

.middle-section .get-started-section .get-stated-main .row-odd .set-started-img {
  padding-right: 20px;
}

.middle-section .get-started-section .get-stated-main .row-odd .get-started-content {
  margin-left: 20px;
}

.middle-section .get-started-section .get-stated-main .row-even .set-started-img {
  padding-left: 20px;
}

.middle-section .get-started-section .get-stated-main .row-list {
  padding: 30px 0;
}

.middle-section .get-started-section .get-stated-main .set-started-img img {
  width: 100%;
}

.middle-section .get-started-section .get-stated-main .get-started-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.middle-section .get-started-section .get-stated-main .get-started-content h3 {
  font-size: 28px;
  line-height: 40px;
  color: #2e3d36;
  margin-bottom: 36px;
  font-family: "Avenir-roman";
}

.middle-section .get-started-section .get-stated-main .get-started-content p {
  font-size: 18px;
  line-height: 32px;
  color: #2e3d36;
  font-family: "Avenir-roman";
}

.middle-section .get-started-section .get-stated-main .get-started-content a {
  color: #a7d288;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  font-family: "Avenir-Heavy";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.middle-section .get-started-section .get-stated-main .get-started-content a span {
  text-decoration: underline;
}

.middle-section .get-started-section .get-stated-main .get-started-content a i {
  font-size: 35px;
  margin-left: 10px;
  text-decoration: none !important;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.middle-section .get-started-section .get-stated-main .get-started-content a:hover i {
  padding-left: 20px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.middle-section .interface-partner-section {
  padding: 120px 0;
  background-color: #fff;
  position: relative;
}

.middle-section .interface-partner-section::after {
  content: '';
  background-image: url(../images/bg-line.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: block;
  z-index: 2;
}

.middle-section .interface-partner-section .interface-partner-inner {
  z-index: 3;
  position: relative;
}

.middle-section .interface-partner-section .heading {
  margin-bottom: 40px;
}

.middle-section .interface-partner-section .heading h2 {
  color: #3c454c;
  font-size: 36px;
  line-height: 48px;
  font-weight: 900;
  font-family: "Avenir Black";
  text-align: center;
  text-transform: capitalize;
}

.middle-section .interface-partner-section .heading p {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #2e3d36;
  font-family: "Avenir-Book";
}

.middle-section .interface-partner-section .logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0;
  height: 100%;
}

.middle-section .interface-partner-section .logo-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-section .interface-partner-section .logo-box a img {
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.middle-section .interface-partner-section .our-partner-box {
  padding: 30px 40px;
  background-color: transparent;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  min-height: 206px;
  max-height: 206px;
  width: 100%;
}

.middle-section .interface-partner-section .our-partner-box .text-box {
  position: absolute;
  height: 50px;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.middle-section .interface-partner-section .our-partner-box .text-box p {
  color: #0b162b;
  font-size: 14px;
  font-family: "Avenir-light";
}

.middle-section .interface-partner-section .our-partner-box img {
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  height: 80px;
}

.middle-section .interface-partner-section .our-partner-box:hover {
  background-color: #fff;
  border-color: #dfeaf1;
}

.middle-section .interface-partner-section .our-partner-box:hover .text-box {
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.middle-section .interface-partner-section .c-h-37 {
  height: 37px;
}

.middle-section .interface-partner-section .c-h-40 {
  height: 40px;
}

.middle-section .interface-partner-section .c-h-45 {
  height: 45px;
}

.middle-section .interface-partner-section .c-h-42 {
  height: 42px;
}

.middle-section .interface-partner-section .c-h-50 {
  height: 50px;
}

.middle-section .interface-partner-section .c-h-55 {
  height: 55px;
}

.middle-section .interface-partner-section .c-h-60 {
  height: 60px;
}

.middle-section .interface-partner-section .c-h-63 {
  height: 63px;
}

.middle-section .interface-partner-section .c-h-67 {
  height: 67px;
}

.middle-section .interface-partner-section .c-h-65 {
  height: 65px;
}

.middle-section .interface-partner-section .c-h-70 {
  height: 70px;
}

.middle-section .interface-partner-section .c-h-75 {
  height: 75px;
}

.middle-section .interface-partner-section .c-h-78 {
  height: 78px;
}

.middle-section .interface-partner-section .c-h-82 {
  height: 82px;
}

.middle-section .interface-partner-section .c-h-90 {
  height: 90px;
}

.middle-section .our-partner-box {
  padding: 30px 40px;
  background-color: transparent;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  min-height: 206px;
  max-height: 206px;
  width: 100%;
}

.middle-section .our-partner-box .text-box {
  position: absolute;
  height: 50px;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.middle-section .our-partner-box .text-box p {
  color: #0b162b;
  font-size: 14px;
  font-family: "Avenir-light";
}

.middle-section .our-partner-box img {
  width: auto;
  height: 100%;
}

.middle-section .our-partner-box:hover {
  background-color: #fff;
  border-color: #dfeaf1;
}

.middle-section .our-partner-box:hover .text-box {
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.middle-section .innerpage-header-section {
  padding: 100px 0;
  height: 380px;
  background-color: #A7D288;
  border-bottom: 10px solid #e0efd7;
  position: relative;
}

.middle-section .innerpage-header-section::before {
  content: "";
  bottom: 10px;
  width: 100%;
  display: block;
  height: 1px;
  background-color: #a7d288;
  position: absolute;
  left: 0;
}

.middle-section .innerpage-header-section .heading {
  padding: 100px 0;
}

.middle-section .innerpage-header-section .heading h2 {
  font-size: 46px;
  line-height: 57px;
  color: #fff;
  font-family: "Avenir-Heavy";
  text-align: center;
  text-transform: capitalize;
}

.middle-section .innerpage-header-section .breadcrumb {
  margin-top: 80px;
  background-color: transparent;
  padding: 10px 0;
}

.middle-section .innerpage-header-section .breadcrumb li {
  margin-right: 20px;
}

.middle-section .innerpage-header-section .breadcrumb li a {
  color: #0F2D1F;
  font-size: 18px;
}

.middle-section .innerpage-header-section .breadcrumb .active {
  color: rgba(15, 45, 31, 0.7);
  font-size: 18px;
}

.middle-section .innerpage-header-section .breadcrumb-item + .breadcrumb-item::before {
  content: "\f105";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  color: #0F2D1F;
  font-size: 18px;
  position: relative;
  left: -6px !important;
}

.middle-section .content-section.content-page-two .content-root {
  top: -90px;
}

.middle-section .content-section {
  background-color: #f9fcf9;
}

.middle-section .content-section .content-root {
  padding: 60px 0;
  background-color: #fff;
  border: 1px solid #f2f9f2;
  position: relative;
  top: -135px;
  border-radius: 6px;
  z-index: 99;
}

.middle-section .content-section .content-root::before {
  content: "";
  background-image: url(../images/Pattern-one.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 189px;
  width: 189px;
  display: block;
  position: absolute;
  right: -100px;
  top: 640px;
  z-index: 1;
}

.middle-section .content-section .content-root .content-area {
  z-index: 3;
  position: relative;
  padding: 0 80px;
  background-color: #fff;
}

.middle-section .content-section .content-root .heading {
  margin-bottom: 40px;
}

.middle-section .content-section .content-root .heading h3 {
  font-size: 38px;
  line-height: 60px;
  color: #3c454c;
  text-align: center;
  font-family: "Avenir-Heavy";
  text-transform: capitalize;
}

.middle-section .content-section .content-root img {
  margin-bottom: 40px;
}

.middle-section .content-section .content-root p {
  font-size: 18px;
  line-height: 32px;
  color: #2e3d36;
  margin-bottom: 40px;
  font-family: "Avenir-roman";
}

.middle-section .content-section .content-root p .dblock {
  display: block;
}

.middle-section .content-section .content-root h3 {
  font-size: 36px;
  line-height: 40px;
  font-family: "Avenir Black";
  color: #2e3d36;
  margin-bottom: 10px;
}

.middle-section .content-section .content-root h4 {
  font-size: 28px;
  line-height: 40px;
  font-family: "Avenir-roman";
  color: #2e3d36;
  margin-bottom: 20px;
}

.middle-section .content-section .content-root h5 {
  font-size: 20px;
  line-height: 32px;
  font-family: "Avenir-roman";
  color: #2e3d36;
  margin-bottom: 15px;
}

.middle-section .content-section .content-root ul {
  margin-bottom: 20px;
}

.middle-section .content-section .content-root ul li {
  font-size: 18px;
  line-height: 32px;
  color: #2e3d36;
  position: relative;
  padding-left: 30px;
}

.middle-section .content-section .content-root ul li::before {
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 100px;
  background-color: #a7d288;
  display: block;
  left: 0;
  top: 12px;
  position: absolute;
}

.middle-section .content-section .content-root hr {
  border-color: #a7d288;
  margin: 40px 0;
}

.middle-section .content-section .content-root .content-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.middle-section .content-section .content-root .content-logo img {
  width: 190px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.middle-section .content-section .content-root .mb-160 {
  margin-bottom: 160px;
}

.middle-section .content-section .content-root .taxpayer-box img {
  width: 306px;
  height: auto;
}

.middle-section .content-section .content-root .taxpayer-box p {
  font-size: 16px;
  line-height: 26px;
}

.middle-section .content-section .content-root .taxpayer-box span {
  font-size: 16px;
  line-height: 20px;
  color: rgba(15, 45, 31, 0.37);
  text-align: center;
  display: block;
  padding: 10px 10px;
}

.middle-section .content-section .content-root .form-group {
  margin-bottom: 60px;
}

.middle-section .content-section .content-root .form-group label {
  font-size: 20px;
  line-height: 25px;
  color: rgba(15, 45, 31, 0.5);
  display: block;
}

.middle-section .content-section .content-root .form-group label span {
  color: #f00;
}

.middle-section .content-section .content-root .form-group .form-control {
  color: #222;
  padding: 15px 0;
  height: 77px;
  border-radius: 0;
  font-size: 22px;
  line-height: 32px;
  border: 0;
  font-family: "Avenir-Heavy";
  border-bottom: 1px solid #006838;
  caret-color: #006838;
}

.middle-section .content-section .content-root .form-group .form-control::-webkit-input-placeholder {
  color: #dbdbdb;
}

.middle-section .content-section .content-root .form-group .form-control:-ms-input-placeholder {
  color: #dbdbdb;
}

.middle-section .content-section .content-root .form-group .form-control::-ms-input-placeholder {
  color: #dbdbdb;
}

.middle-section .content-section .content-root .form-group .form-control::placeholder {
  color: #dbdbdb;
}

.middle-section .content-section .content-root .form-group textarea {
  min-height: 180px;
  height: 100% !important;
}

.middle-section .content-section .content-root .div-submit {
  margin-bottom: 60px;
}

.middle-section .content-section .content-root .div-submit .btn {
  height: 60px !important;
  font-size: 20px;
  line-height: 36px;
  font-family: "Avenir-Heavy";
}

.middle-section .content-section .content-root .note p {
  color: #0b162b;
  text-align: center;
}

.middle-section .content-section .content-root .note p span {
  color: #f00;
}

.middle-section .content-section .content-root .contact-detail img {
  margin-bottom: 20px;
}

.middle-section .content-section .content-root .contact-detail .contact-address {
  margin-bottom: 40px;
}

.middle-section .content-section .content-root .contact-detail .contact-address h4 {
  margin-bottom: 5px;
}

.middle-section .content-section .content-root .contact-detail .contact-address p {
  margin-bottom: 20px;
}

.middle-section .content-section .content-root .contact-detail .contact-address ul li {
  position: relative;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 32px;
  color: #242424;
  font-family: "Avenir-roman";
}

.middle-section .content-section .content-root .contact-detail .contact-address ul li::before {
  display: none;
}

.middle-section .content-section .content-root .contact-detail .contact-address ul li img {
  width: 20px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  left: 0;
  top: 5px;
}

.middle-section .content-section .content-root .contact-detail .contact-address ul li a {
  color: #242424;
}

.middle-section .content-section .content-root .contact-detail .contact-address ul li a:hover {
  color: #A7D288;
  text-decoration: underline;
}

.middle-section .license-section {
  background-color: #f9fcf9;
  padding: 30px 0 100px 0;
  position: relative;
  overflow: hidden;
}

.middle-section .license-section .row-10 {
  margin: 0 10px;
}

.middle-section .license-section .row-10 .pad-10 {
  padding: 0 10px;
}

.middle-section .license-section .heading h2 {
  font-size: 38px;
  line-height: 60px;
  color: #3c454c;
  text-align: left;
  font-family: "Avenir-Heavy";
  margin-bottom: 44px;
  text-transform: capitalize;
}

.middle-section .license-section .license-list {
  z-index: 0;
  position: relative;
}

.middle-section .license-section .license-list::after {
  content: "";
  background-image: url(../images/Pattern-one.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 189px;
  width: 189px;
  display: block;
  position: absolute;
  right: -100px;
  bottom: 200px;
  z-index: -1;
}

.middle-section .license-section .license-list .licence-box {
  min-height: 485px;
  max-height: 485px;
  background-color: #fff;
  border: 1px solid rgba(15, 45, 31, 0.09);
  margin-bottom: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.middle-section .license-section .license-list .licence-box .licence-body {
  padding: 20px 20px 60px 20px;
  height: 433px;
  position: relative;
  width: 100%;
}

.middle-section .license-section .license-list .licence-box .licence-body .licence-title {
  border-bottom: 1px solid #a7d288;
  margin-bottom: 20px;
  min-height: 102px;
  width: 100%;
}

.middle-section .license-section .license-list .licence-box .licence-body .licence-title h3 {
  font-size: 28px;
  line-height: 40px;
  color: #2e3d36;
  margin-bottom: 20px;
}

.middle-section .license-section .license-list .licence-box .licence-body p {
  font-size: 18px;
  line-height: 32px;
  color: #2e3d36;
  font-family: "Avenir-roman";
  margin-bottom: auto;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  max-width: 98%;
}

.middle-section .license-section .license-list .licence-box .licence-body ul li {
  list-style: none;
  margin-left: 0;
}

.middle-section .license-section .license-list .licence-box .licence-body ul li::before {
  content: "- ";
  text-indent: -10px;
}

.middle-section .license-section .license-list .licence-box .licence-body a.see-more {
  color: #0f2d1f;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 20px 30px 20px;
  text-decoration: underline;
  font-family: "Avenir-Oblique";
  font-size: 18px;
  line-height: 32px;
}

.middle-section .license-section .license-list .licence-box .licence-footer {
  width: 100%;
}

.middle-section .license-section .license-list .licence-box .licence-footer a {
  background-color: #a7d288;
  padding: 14px 20px;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 18px;
  color: #0f2d1f;
  line-height: 22px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: "Avenir-Heavy";
}

.middle-section .license-section .license-list .licence-box .licence-footer a:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #0f2d1f;
  color: #fff;
}

.footer-section {
  padding: 58px 0 0 0;
  background-color: #0f2d1f;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-section hr {
  margin: 30px 0 0 0;
  border-color: rgba(255, 255, 255, 0.2);
}

.footer-section .footer-line-one {
  border-color: rgba(226, 226, 226, 0.21);
  margin: 0 0 40px 0;
}

.footer-section .footer-content-logo .logo-footer {
  margin-bottom: 40px;
  margin-top: 10px;
}

.footer-section .footer-content-logo .logo-footer img {
  width: 137px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: -3px;
}

.footer-section .footer-content-logo p {
  width: 170px;
}

.footer-section .footer-content-link {
  padding: 20px 0 0 0;
}

.footer-section .footer-content {
  margin-bottom: 50px;
}

.footer-section .footer-content h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-family: "Avenir-medium";
}

.footer-section .footer-content p {
  font-size: 14px;
  line-height: 22px;
  font-family: "Avenir-light";
}

.footer-section .footer-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section .footer-content ul li {
  font-size: 16px;
  line-height: 28px;
  display: inline-block;
  width: 100%;
}

.footer-section .footer-content ul li a {
  display: block;
  color: rgba(245, 255, 238, 0.6);
  font-size: 16px;
  line-height: 32px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footer-section .footer-content ul li a:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: white;
}

.footer-section .footer-content .singup-div .form-control {
  border-radius: 0;
}

.footer-section .footer-content .singup-div .input-group .input-group-addon {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
  height: 48px;
  padding: 9px 15px;
  width: auto;
  background-color: #a7d288;
  color: #0f2d1f;
  font-size: 14px;
  font-family: "Avenir-Book";
}

.footer-section .copy-right-text {
  padding: 20px 0 70px 0;
  border-top: 1px solid rgba(120, 154, 193, 0.2);
}

.footer-section .copy-right-text .footer-links-bottom {
  width: auto;
}

.footer-section .copy-right-text .footer-links-bottom li {
  padding: 0 24px;
  display: inline-block;
}

.footer-section .copy-right-text .footer-links-bottom li a {
  color: #fff;
}

.footer-section .copy-right-text .footer-links-bottom li a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.footer-section .copy-right-text p {
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 22px;
}

.footer-section .copy-right-text .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.footer-section .copy-right-text .footer-bottom .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.footer-section .copy-right-text .footer-bottom .social-media ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-section .copy-right-text .footer-bottom .social-media ul li {
  display: inline-block;
  margin-right: 5px;
  width: auto;
}

.footer-section .copy-right-text .footer-bottom .social-media ul li:last-child {
  margin-right: 0;
}

.footer-section .copy-right-text .footer-bottom .social-media ul li a {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: transparent;
  border: 1px solid rgba(180, 180, 180, 0);
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 18px;
}

.footer-section .copy-right-text .footer-bottom .social-media ul li a:hover {
  width: 48px;
  height: 48px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border: 1px solid rgba(180, 180, 180, 0);
  color: #fff;
  background-image: url("../images/border.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* ###########################################################################
############################## media query started ###############################
###################################################################################### */
@media (max-width: 320px) {
  .btn-pad-60 {
    padding: 12px 30px !important;
  }
  .header .page-title a {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .header .page-title {
    display: none !important;
    position: absolute;
    left: 110px;
    top: -22px;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .page-title a {
    color: #fff;
    max-width: 100px;
    display: block;
    white-space: normal;
    line-height: 20px;
  }
  .header .navbar {
    padding: 15px 0;
    z-index: 999;
    height: 75px;
  }
  .header .navbar .row-100 .col-12 {
    padding: 0 15px;
  }
  .header .navbar .col-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header .navbar .col-header .col-30 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .header .navbar .col-header .col-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
  .header .navbar .navbar-brand {
    width: 140px;
    height: auto;
    padding: 0;
    position: relative;
    z-index: 9;
  }
  .header .navbar .navbar-brand img {
    width: 100%;
  }
  .header .navbar .navbar-collapse {
    padding: 10px 0;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item {
    padding: 0 20px;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item a {
    color: #0f2d1f;
    padding: 8px 12px;
    font-size: 16px;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item a:hover {
    color: rgba(15, 45, 31, 0.8);
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item a.active {
    color: rgba(15, 45, 31, 0.8);
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-btn {
    padding-left: 22px !important;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-btn .btn.btn {
    background-color: #0F2D1F !important;
    color: #fff !important;
  }
  .header .navbar .navbar-toggler {
    color: #fff;
    padding: 0;
    outline: 0;
    position: absolute;
    right: 15px;
    top: -0px;
    border: 0;
    display: block;
  }
  .header .navbar .navbar-toggler .navbar-toggler-icon {
    background-color: transparent;
    background-image: url("../../assets/images/menubar.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
    border: 0;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(15, 45, 31, 0.7);
    cursor: pointer;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #fff;
    padding: 40px 0 20px 0 !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 300px;
    right: -400px;
  }
  .width-menu {
    right: 0;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .closebtn img {
    width: 20px;
    height: 20px;
  }
  .closebtn:hover {
    display: block;
    color: #fff;
    text-decoration: none;
  }
  /* middle section start here */
  .middle-section .home-banner-section .banner-caption h1 {
    font-size: 36px;
    line-height: 48px;
  }
  .middle-section .home-banner-section .banner-img {
    margin-bottom: 60px;
  }
  .middle-section .home-banner-section .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    padding-left: 15px;
  }
  .middle-section .get-started-section {
    padding: 60px 0;
  }
  .middle-section .get-started-section .heading h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .middle-section .get-started-section .get-stated-main .row-list {
    padding: 12px 0;
  }
  .middle-section .get-started-section .get-stated-main .get-started-content h3 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  .middle-section .get-started-section .get-stated-main .row-odd .set-started-img {
    padding-right: 0;
  }
  .middle-section .get-started-section .get-stated-main .row-odd .get-started-content {
    margin-left: 0;
  }
  .middle-section .get-started-section .get-stated-main .row-even {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .middle-section .get-started-section .get-stated-main .row-even .set-started-img {
    padding-left: 0;
  }
  .middle-section .interface-partner-section {
    padding: 60px 0;
  }
  .middle-section .interface-partner-section .heading h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .middle-section .interface-partner-section .our-partner-box {
    padding: 20px;
    min-height: 120px;
    max-height: 120px;
  }
  .middle-section .interface-partner-section .our-partner-box img {
    height: 55px;
  }
  .middle-section .interface-partner-section .our-partner-box .text-box {
    height: 40px;
  }
  .middle-section .interface-partner-section .c-h-40 {
    height: 20px;
  }
  .middle-section .interface-partner-section .c-h-42 {
    height: 21px;
  }
  .middle-section .interface-partner-section .c-h-37 {
    height: 18px;
  }
  .middle-section .interface-partner-section .c-h-63 {
    height: 31px;
  }
  .middle-section .interface-partner-section .c-h-67 {
    height: 33px;
  }
  .middle-section .interface-partner-section .c-h-78 {
    height: 38px;
  }
  .middle-section .interface-partner-section .c-h-45 {
    height: 23px;
  }
  .middle-section .interface-partner-section .c-h-50 {
    height: 25px;
  }
  .middle-section .interface-partner-section .c-h-55 {
    height: 27px;
  }
  .middle-section .interface-partner-section .c-h-60 {
    height: 30px;
  }
  .middle-section .interface-partner-section .c-h-65 {
    height: 33px;
  }
  .middle-section .interface-partner-section .c-h-70 {
    height: 35px;
  }
  .middle-section .interface-partner-section .c-h-75 {
    height: 37px;
  }
  .middle-section .interface-partner-section .c-h-82 {
    height: 41px;
  }
  .middle-section .interface-partner-section .c-h-90 {
    height: 45px;
  }
  .middle-section .our-partner-section {
    padding: 60px 0;
  }
  .middle-section .innerpage-header-section {
    height: 300px;
  }
  .middle-section .innerpage-header-section .heading {
    padding: 25px 0;
  }
  .middle-section .innerpage-header-section .heading h2 {
    font-size: 30px;
    line-height: 42px;
  }
  .middle-section .innerpage-header-section .breadcrumb {
    margin-top: 5px;
  }
  .middle-section .content-section .content-root .heading h3 {
    font-size: 24px;
    line-height: 40px;
  }
  .middle-section .content-section .content-root .content-area {
    padding: 0 20px;
  }
  .middle-section .content-section .content-root .content-area h3 {
    font-size: 22px;
    line-height: 30px;
  }
  .middle-section .content-section .content-root .content-area h4 {
    font-size: 20px;
    line-height: 26px;
  }
  .middle-section .content-section .content-root .content-area ul li {
    font-size: 16px;
    line-height: 28px;
  }
  .middle-section .content-section .content-root .content-area .content-logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .middle-section .content-section .content-root::before {
    display: none;
  }
  .middle-section .content-section .content-root .form-group {
    margin-bottom: 30px;
  }
  .middle-section .content-section .content-root .form-group label {
    font-size: 16px;
    line-height: 25px;
    color: rgba(15, 45, 31, 0.5);
    display: block;
  }
  .middle-section .content-section .content-root .form-group label span {
    color: #f00;
  }
  .middle-section .content-section .content-root .form-group .form-control {
    color: #222;
    padding: 10px 0;
    height: 50px;
    border-radius: 0;
    font-size: 20px;
    line-height: 32px;
  }
  .middle-section .content-section .content-root .div-submit {
    margin-bottom: 40px;
  }
  .middle-section .content-section .content-root .div-submit .btn {
    height: 50px !important;
    line-height: 28px;
  }
  .middle-section .license-section .heading {
    margin-bottom: 30px;
  }
  .middle-section .license-section .heading h2 {
    font-size: 24px;
    line-height: 40px;
  }
  .middle-section .license-section .license-list::after {
    display: none;
  }
  .middle-section .license-section .license-list .licence-box .licence-body .licence-title {
    min-height: unset;
  }
  .middle-section .license-section .license-list .licence-box .licence-body .licence-title h3 {
    font-size: 20px;
    line-height: 28px;
  }
  .middle-section .license-section .license-list .licence-box .licence-body p {
    font-size: 16px;
    line-height: 28px;
  }
  .footer-section {
    padding-top: 90px;
  }
  .footer-section .footer-content-logo p {
    width: 100%;
  }
  .footer-section .social-media {
    margin-bottom: 55px;
  }
  .footer-section .footer-content ul {
    margin-bottom: 20px;
  }
  .footer-section .footer-content ul li {
    width: 48%;
    margin-bottom: 10px;
  }
  .footer-section .footer-content-link {
    padding: 20px 0 0 0;
  }
  .footer-section .singup-div {
    margin-bottom: 50px;
  }
  .footer-section .footer-content {
    margin-bottom: 0;
  }
  .footer-section .copy-right-text {
    padding-bottom: 40px;
  }
  .footer-section .copy-right-text .footer-links-bottom {
    text-align: center;
  }
}

@media (min-width: 1024px) and (max-width: 1130px) {
  .header .navbar .collapse1 .navbar-nav .nav-item a {
    font-size: 16px;
    padding: 8px 10px;
    white-space: nowrap;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item.nav-btn {
    padding-left: 30px !important;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item.nav-btn .btn.btn {
    background-color: #0F2D1F !important;
    color: #fff !important;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item.nav-btn a.btn {
    padding: 8px 20px !important;
  }
}

/* Portrait */
@media (min-width: 768px) and (max-width: 1024px) {
  .header .navbar {
    padding: 8px 0;
    z-index: 999;
    height: 70px;
  }
  .header .navbar .row-100 .col-12 {
    padding: 0 15px;
  }
  .header .navbar .col-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header .navbar .col-header .col-30 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .header .navbar .col-header .col-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
  .header .navbar .navbar-brand {
    width: 155px;
    height: auto;
  }
  .header .navbar .navbar-brand img {
    width: 100%;
  }
  .header .navbar .navbar-collapse {
    padding: 10px 0;
  }
  .header .navbar .navbar-collapse .navbar-nav {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    margin-left: 0 !important;
    width: 100%;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item {
    padding: 0 20px;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item a {
    color: #0f2d1f;
    padding: 8px 12px;
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item a:hover {
    color: rgba(15, 45, 31, 0.8);
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item a.active {
    color: rgba(15, 45, 31, 0.8);
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-btn {
    padding-left: 22px !important;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-btn .btn.btn {
    background-color: #0F2D1F !important;
    color: #fff !important;
  }
  .header .navbar .navbar-toggler {
    color: #fff;
    padding: 0;
    outline: 0;
    position: absolute;
    right: 15px;
    top: -0px;
    border: 0;
    display: block;
  }
  .header .navbar .navbar-toggler .navbar-toggler-icon {
    background-color: transparent;
    background-image: url("../../assets/images/menubar.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
    border: 0;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(15, 45, 31, 0.7);
    cursor: pointer;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #fff;
    padding: 40px 0 20px 0 !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 300px;
    right: -400px;
  }
  .width-menu {
    right: 0;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .closebtn img {
    width: 20px;
    height: 20px;
  }
  .closebtn:hover {
    display: block;
    color: #fff;
    text-decoration: none;
  }
  .middle-section .content-section .content-root::before {
    display: none;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .middle-section .home-banner-section .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -60px;
    padding-left: 15px;
  }
  .middle-section .home-banner-section .text-link {
    margin-top: 65px;
  }
  .middle-section .get-started-section {
    padding: 60px 0;
  }
  .middle-section .get-started-section .get-stated-main .row-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .middle-section .get-started-section .get-stated-main .row-odd .set-started-img {
    padding-right: 0px;
  }
  .middle-section .get-started-section .get-stated-main .row-odd .get-started-content {
    margin-left: 0px;
  }
  .middle-section .get-started-section .get-stated-main .row-even {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .middle-section .get-started-section .get-stated-main .row-even .set-started-img {
    padding-left: 0px;
  }
  .footer-section .footer-content ul li {
    width: 49%;
  }
  .footer-section .social-media {
    margin-top: 30px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .header .navbar .collapse1 .navbar-nav .nav-item a {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    padding: 8px 15px;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item.nav-btn {
    padding-left: 10px !important;
  }
  .footer-section .social-media {
    margin-top: 30px;
  }
}

/* ----------- iPad Pro ----------- */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  .middle-section .home-banner-section .banner-box {
    margin: 0 0 130px 0;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
  .middle-section .home-banner-section .owl-dots {
    position: absolute;
    left: 50%;
    right: 0;
    bottom: -60px;
    padding-left: 15px;
  }
  .middle-section .get-started-section .get-stated-main .row-even {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
  }
}

.nav-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.user-account {
  padding-left: 10px;
}

.user-account ul {
  list-style: none;
  display: inline-block;
}

.user-account ul li {
  display: inline-block;
}

.user-account ul li a {
  display: block;
  color: rgba(15, 45, 31, 0.7);
  font-size: 22px;
  padding: 7px 20px;
}

.user-account ul li a:hover {
  color: #0f2d1f;
}

.secure-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.secure-logo .maxw-120 {
  max-width: 120px !important;
}

.secure-logo a {
  display: inline-block;
  max-width: 80px;
  margin-right: 20px;
}

.secure-logo a:last-child {
  margin-right: 0;
}

.secure-logo a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .user-account {
    padding-right: 60px;
  }
  .user-account ul li a {
    padding: 7px 10px;
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .user-account {
    padding-right: 60px;
  }
  .user-account ul li a {
    padding: 7px 15px;
    font-size: 22px;
  }
}
/*# sourceMappingURL=custom.css.map */