@import url("../css/bootstrap.min.css");
@import url("../fonts/feather/feather.css");
@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("../fonts/avenir/stylesheet.css");
@import url("../css/animate.css");

$avenir-light: "Avenir-light";
$avenir-book: "Avenir-Book";
$avenir-medium: "Avenir-medium";
$avenir-black: "Avenir Black";
$avenir-Heavy: "Avenir-Heavy";
$avenir-roman: "Avenir-roman";
$avenir-oblique: "Avenir-Oblique";

body {
  background-color: #fff;
  font-family: $avenir-book !important;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  overflow-x: hidden;
}

p {
  font-size: 16px;
  line-height: 32px;
}

p.big {
  font-size: 20px;
  line-height: 32px;
}

p.small {
  font-size: 14px;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

h1 {
  font-size: 54px;
  line-height: 62px;
  font-weight: 700;
}

h2 {
  font-size: 56px;
  line-height: 64px;
  font-weight: 700;
}

h3 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

h5 {
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
}

h6 {
  font-size: 12px;
  line-height: 26px;
  font-weight: 700;
}

label {
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  transition: all 0.2s;
  color: #000;
  font-size: 16px;
  line-height: 32px;

  &:hover {
    color: #000;
    text-decoration: none;
  }

  &:focus {
    outline: none;
    text-decoration: none;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  border: 0 none;
  margin: 0 auto;
  padding: 0;
}

.no-pointer-event {
  pointer-events: none;
}

// input[type="number"]::-webkit-outer-spin-button,
// input[type="number"]::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

// input[type="number"] {
//   -moz-appearance: textfield;
// }

/*   normalize  */

@media (min-width: 1200px) {
  .container {
    max-width: 1185px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1185px;
  }
}

@mixin btn-white {
  transition: all 0.8s;
  border: 1px solid rgba(0, 0, 0, 0.15);

  &:hover {
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
    transition: all 0.8s;
  }

  &:focus {
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
  }
}

.btn.btn-primary {
  height: 47px !important;
  color: #fff !important;
  background-color: #0f2d1f !important;
  border-color: rgba(255, 255, 255, 0.18) !important;
  border-radius: 4px !important;
  font-family: $avenir-Heavy;
  font-size: 16px;
  line-height: 19px;
  padding: 12px 15px 17px 15px;
  transition: all 0.8s;

  &:hover {
    box-shadow: 0 3px 15px 0 rgba(167, 210, 136, 0.3);
    transform: translateY(-3px);
    transition: all 0.8s;
  }

  &:focus {
    box-shadow: 0 3px 15px 0 rgba(167, 210, 136, 0.3);
    transform: translateY(-3px);
  }
}

.btn.btn-secondary {
  height: 47px !important;
  color: #2e3d36 !important;
  background-color: #a7d288 !important;
  border-color: rgba(255, 255, 255, 0.18) !important;
  border-radius: 4px !important;
  font-size: 16px;
  font-family: $avenir-Heavy;
  line-height: 19px;
  padding: 12px 15px 17px 15px;
  transition: all 0.8s;

  &:hover {
    box-shadow: 0 3px 15px 0 rgba(167, 210, 136, 0.3);
    transform: translateY(-3px);
    transition: all 0.8s;
  }

  &:focus {
    box-shadow: 0 3px 15px 0 rgba(167, 210, 136, 0.3);
    transform: translateY(-3px);
  }
}

.btn-pad-60 {
  padding: 12px 60px !important;
}

.btn-pad-45 {
  padding: 12px 45px !important;
}

.btn-full {
  width: 100%;
}

.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-color: #000;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.icon-plane {
  -webkit-mask: url(../images/icon/telegram-plane.svg) no-repeat 50% 50%;
  mask: url(../images/icon/telegram-plane.svg) no-repeat 50% 50%;
  width: 25px;
  height: 23px;
}

.custom-checkbox {
  padding-left: 30px;

  .custom-control-label {
    font-weight: 400;
    color: #333;
    font-size: 16px;
    line-height: 17px;

    &::before {
      top: 7px;
      width: 20px;
      height: 20px;
      left: -30px;
    }

    &::after {
      top: 7px;
      width: 20px;
      height: 20px;
      left: -30px;
    }

    a {
      font-size: 16px;
      font-weight: 400;
      text-decoration: underline;
      color: #000;
    }
  }
}

.custom-control-input {
  &:checked {
    & ~ .custom-control-label {
      &::before {
        background-color: #000;
        border-color: #000;
      }
    }
  }
}

/* ############################ header section ############################### */

.fixed-top {
  background-color: #A7D288 !important;
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 70px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header {
  height: 90px;
  position: relative;

  .page-title{
    display: none;
  }

  .col-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    .col-30 {
      flex: 0 0 20%;
      max-width: 20%;
    }

    .col-70 {
      flex: 0 0 80%;
      max-width: 80%;
    }
  }

  .row-100 {
    width: 100%;
    margin: 0;

    .col-12 {
      padding: 0;
    }
  }

  .navbar {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding: 0;
    display: flex;
    height: 90px;
    background-color: transparent;
    white-space: nowrap;
    z-index: 999;
    // box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
    // border-bottom: 1px solid rgba(236, 236, 236, 0.6);

    .navbar-brand {
      width: 180px;
      height: auto;

      img {
        width: 100%;
      }
    }

    .collapse1 {
      height: 100%;

      .navbar-nav {
        align-items: center;

        .nav-item {
          a {
            color: rgba(15, 45, 31, 0.7);
            font-size: 16px;
            line-height: 32px;
            padding: 8px 18px;
            font-family: $avenir-medium;
            transition: all 0.4s ease-in-out;

            &:hover {
              transition: all 0.4s ease-in-out;
              color: rgba(15, 45, 31, 1);
            }
          }

          a.active {
            transition: all 0.4s ease-in-out;
            color: rgba(15, 45, 31, 1);
          }
        }

        .nav-btn {
          padding-left: 20px !important;

          a.btn {
            font-size: 16px;
            min-height: 30px;
            line-height: 32px;
            border-radius: 4px;
            background-color: transparent !important;
            padding: 8px 40px !important;
            color: rgba(15, 45, 31, 1) !important;
            font-family: $avenir-Heavy;
            border-color: rgba(15, 45, 31, 0.7) !important;
          }
        }
      }
    }
  }
}

/* menu responsive */

.navbar-expand-md .navbar-toggler {
  display: none;
}

.sidenav-new-menu .closebtn {
  display: none;
}

/* ############################## Home section ############################### */

.form-group {
  margin-bottom: 20px;

  label {
    font-size: 14px;
    color: #333;
    letter-spacing: 0;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .form-control {
    border: 1px solid #dadada;
    height: 48px;
    background-color: #fff;
    font-size: 16px;
    box-shadow: none;
    outline: 0;
    padding: 14px 16px;
    border-radius: 12px;

    &:focus {
      border-color: #000;
      color: #000;
    }
  }
}

.input-group {
  .input-group-addon {
    position: absolute;
    right: 15px;
    top: 13px;
    z-index: 99;

    a {
      text-decoration: none;
      color: #727272;
    }

    i {
      font-size: 20px;
    }
  }

  .form-control {
    padding-right: 40px;
  }
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #000 !important;
  color: #fff;
}

.select2 {
  width: 100% !important;
}

.select2-container {
  border: 0;
}

.select2-container--default .select2-selection--single {
  outline: 0;
  height: 48px !important;
  border: 1px solid #dadada !important;
  border-radius: 12px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  border: 0 solid #dadada;
  height: 46px;
  background-color: #fff;
  border-radius: 12px;
  font-size: 16px;
  line-height: 48px !important;
  font-weight: 500;
  padding-left: 20px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 48px !important;
  width: 30px !important;

  b {
    border-color: #333 transparent transparent transparent !important;
  }
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #333 transparent !important;
  border-width: 0 4px 5px 4px;
}

/*  middle section start here */

.inner-page {
  padding-top: 0;
}

.middle-section {
  height: auto;
  // banner-section

  .home-banner-section {
    padding-top: 100px;
    padding-bottom: 40px;
    background-color: #A7D288;
    height: 100%;

    .home-banner-inner {
      padding: 30px 0 0 0;
      overflow: hidden;
    }

    .banner-img {
      .img-responsive {
        img {
          width: 100%;
          object-fit: cover;
        }
      }

    }

    .owl-dots {
      position: absolute;
      left: 50%;
      right: 0;
      bottom: -70px;
      padding-left: 15px;

      .owl-dot {
        box-shadow: none;
        outline: 0;

      span {
          background-color: transparent;
          border: 1px solid #0F2D1F;
          transition: all 0.6s ease-in-out;
        }
      }

      .owl-dot.active {
        span {
          background-color: #0F2D1F;
          transition: all 0.6s ease-in-out;
        }
      }
    }

    .banner-caption-bg {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      position: relative;

      &::after {
        content: "";
        background-image: url("../images/que-shape.svg");
        background-position: -50% 50%;
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        left: auto;
        right: -140px;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
      }
    }

    .banner-caption {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding-bottom: 30px;
      z-index: 2;
      position: relative;

      h1 {
        font-family: $avenir-black;
        font-size: 54px;
        line-height: 62px;
        color: #0F2D1F;
        margin-bottom: 20px;

        span.block {
          display: block;
        }
      }

      .btn {
        font-family: $avenir-Heavy;
        font-size: 20px;
        line-height: 24px;
        color: #fff !important;
        background-color: #0F2D1F !important;
      }
    }

    .text-link {
      color: rgba(15, 45, 31, 1);
      font-size: 14px;
      line-height: 26px;
      margin-top: 42px;
      display: block;

      img {
        position: relative;
        top: -2px;
        width: 12px;
        height: 16px;
        margin-right: 5px;
      }
    }
  }

  .get-started-section {
    padding: 120px 0;
    background-color: #f9fdfb;
    position: relative;
    &::after {
      content: '';
      background-image: url(../images/bg-line.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      display: block;
      z-index: 2;
    }

    .get-started-inner {
      position: relative;
      z-index: 3;
    }

    .heading {
      margin-bottom: 30px;

      h2 {
        color: #3c454c;
        font-size: 36px;
        line-height: 48px;
        font-weight: 900;
        font-family: $avenir-black;
        text-align: center;
        text-transform: capitalize;
      }
    }

    .get-stated-main {

      .pl-20 {
        padding-left: 20px;
      }

      .pr-20 {
        padding-right: 20px;
      }

      .row-odd {
        .set-started-img {
          padding-right: 20px;
        }

        .get-started-content {
          margin-left: 20px;
        }
      }

      .row-even {
        .set-started-img {
          padding-left: 20px;
        }
      }

      .row-list {
        padding: 30px 0;
      }

      .set-started-img {
        img {
          width: 100%;
        }
      }

      .get-started-content {
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding: 20px;

        h3 {
          font-size: 28px;
          line-height: 40px;
          color: #2e3d36;
          margin-bottom: 36px;
          font-family: $avenir-roman;
        }

        p {
          font-size: 18px;
          line-height: 32px;
          color: #2e3d36;
          font-family: $avenir-roman;
        }

        a {
          color: #a7d288;
          font-size: 16px;
          line-height: 22px;
          text-transform: uppercase;
          font-family: $avenir-Heavy;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          span {
            text-decoration: underline;
          }

          i {
            font-size: 35px;
            margin-left: 10px;
            text-decoration: none !important;
            transition: all 0.4s;
          }

          &:hover {
            i {
              padding-left: 20px;
              transition: all 0.4s;
            }
          }
        }
      }
    }
  }

  .interface-partner-section {
    padding: 120px 0;
    background-color: #fff;
    position: relative;
    &::after {
      content: '';
      background-image: url(../images/bg-line.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      display: block;
      z-index: 2;
    }

    .interface-partner-inner{ 
      z-index: 3;
      position: relative;
    }

    .heading {
      margin-bottom: 40px;

      h2 {
        color: #3c454c;
        font-size: 36px;
        line-height: 48px;
        font-weight: 900;
        font-family: $avenir-black;
        text-align: center;
        text-transform: capitalize;
      }

      p {
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #2e3d36;
        font-family: $avenir-book;
      }
    }

    .logo-box {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 40px 0;
      height: 100%;


      a {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: auto;
          object-fit: contain;
        }
      }
    }

    .our-partner-box {
      padding: 30px 40px;
      background-color: transparent;
      border: 1px solid transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      min-height: 206px;
      max-height: 206px;
      width: 100%;
  
      .text-box {
        position: absolute;
        height: 50px;
        width: 100%;
        bottom: 0;
        left: 0;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s;
  
        p {
          color: #0b162b;
          font-size: 14px;
          font-family: $avenir-light;
        }
      }
  
      img {
        width: auto;
        object-fit: contain;
        height: 80px;
      }
  
      &:hover {
        background-color: #fff;
        border-color: #dfeaf1;
        .text-box {
          opacity: 1;
          transition: 0.2s;
        }
      }
    }

    .c-h-37 {
      height: 37px;
    }
    .c-h-40 {
      height: 40px;
    }

    .c-h-45 {
      height: 45px;
    }

    .c-h-42 {
      height: 42px;
    }

    .c-h-50 {
      height: 50px;
    }

    .c-h-55 {
      height: 55px;
    }

    .c-h-60 {
      height: 60px;
    }

    .c-h-63 {
      height: 63px;
    }

    .c-h-67 {
      height: 67px;
    }

    .c-h-65 {
      height: 65px;
    }

    .c-h-70 {
      height: 70px;
    }

    .c-h-75 {
      height: 75px;
    }

    .c-h-78 {
      height: 78px;
    }

    .c-h-82 {
      height: 82px;
    }

    .c-h-90 {
      height: 90px;
    }
  }


  .our-partner-box {
    padding: 30px 40px;
    background-color: transparent;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    min-height: 206px;
    max-height: 206px;
    width: 100%;

    .text-box {
      position: absolute;
      height: 50px;
      width: 100%;
      bottom: 0;
      left: 0;
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.2s;

      p {
        color: #0b162b;
        font-size: 14px;
        font-family: $avenir-light;
      }
    }

    img {
      width: auto;
      height: 100%;
    }

    &:hover {
      background-color: #fff;
      border-color: #dfeaf1;

      .text-box {
        opacity: 1;
        transition: 0.2s;
      }
    }
  }

  /* inner pages section */

  .innerpage-header-section {
    padding: 100px 0;
    height: 380px;
    background-color: #A7D288;
    border-bottom: 10px solid #e0efd7;
    position: relative;

    &::before {
      content: "";
      bottom: 10px;
      width: 100%;
      display: block;
      height: 1px;
      background-color: #a7d288;
      position: absolute;
      left: 0;
    }

    .heading {
      padding: 100px 0;

      h2 {
        font-size: 46px;
        line-height: 57px;
        color: #fff;
        font-family: $avenir-Heavy;
        text-align: center;
        text-transform: capitalize;
      }
    }

    .breadcrumb {
      margin-top: 80px;
      background-color: transparent;
      padding: 10px 0;

      li {
        a {
          color: #0F2D1F;
          font-size: 18px;
        }

        margin-right: 20px;
      }

      .active {
        color: rgba(15, 45, 31,0.7);
        font-size: 18px;
      }
    }

    .breadcrumb-item + .breadcrumb-item::before {
      content: "\f105";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      color: #0F2D1F;
      font-size: 18px;
      position: relative;
      left: -6px !important;
    }
  }

  .content-section.content-page-two {
    .content-root {
      top: -90px;
    }
  }

  .content-section {
    background-color: #f9fcf9;

    .content-root {
      padding: 60px 0;
      background-color: #fff;
      border: 1px solid rgb(242, 249, 242);
      // box-shadow: 2px 0 109px rgba(242, 249, 242, 0.8);
      position: relative;
      top: -135px;
      border-radius: 6px;
      z-index: 99;

      &::before {
        content: "";
        background-image: url(../images/Pattern-one.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 189px;
        width: 189px;
        display: block;
        position: absolute;
        right: -100px;
        top: 640px;
        z-index: 1;
      }

      .content-area {
        z-index: 3;
        position: relative;
        padding: 0 80px;
        background-color: #fff;
      }

      .heading {
        margin-bottom: 40px;

        h3 {
          font-size: 38px;
          line-height: 60px;
          color: #3c454c;
          text-align: center;
          font-family: $avenir-Heavy;
          text-transform: capitalize;
        }
      }

      img {
        margin-bottom: 40px;
      }

      p {
        font-size: 18px;
        line-height: 32px;
        color: #2e3d36;
        margin-bottom: 40px;
        font-family: $avenir-roman;

        .dblock {
          display: block;
        }
      }

      h3 {
        font-size: 36px;
        line-height: 40px;
        font-family: $avenir-black;
        color: #2e3d36;
        margin-bottom: 10px;
      }

      h4 {
        font-size: 28px;
        line-height: 40px;
        font-family: $avenir-roman;
        color: #2e3d36;
        margin-bottom: 20px;
      }

      h5 {
        font-size: 20px;
        line-height: 32px;
        font-family: $avenir-roman;
        color: #2e3d36;
        margin-bottom: 15px;
      }

      ul {
        margin-bottom: 20px;

        li {
          font-size: 18px;
          line-height: 32px;
          color: #2e3d36;
          position: relative;
          padding-left: 30px;

          &::before {
            content: "";
            height: 10px;
            width: 10px;
            border-radius: 100px;
            background-color: #a7d288;
            display: block;
            left: 0;
            top: 12px;
            position: absolute;
          }
        }
      }

      hr {
        border-color: rgb(167, 210, 136);
        margin: 40px 0;
      }

      .content-logo {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        img {
          width: 190px;
          height: auto;
          object-fit: cover;
        }
      }

      .mb-160 {
        margin-bottom: 160px;
      }

      .taxpayer-box {
        img {
          width: 306px;
          height: auto;
        }

        p {
          font-size: 16px;
          line-height: 26px;
        }

        span {
          font-size: 16px;
          line-height: 20px;
          color: rgba(15, 45, 31, 0.37);
          text-align: center;
          display: block;
          padding: 10px 10px;
        }
      }

      .form-group {
        margin-bottom: 60px;

        label {
          font-size: 20px;
          line-height: 25px;
          color: rgba(15, 45, 31, 0.5);
          display: block;

          span {
            color: #f00;
          }
        }

        .form-control {
          color: #222;
          padding: 15px 0;
          height: 77px;
          border-radius: 0;
          font-size: 22px;
          line-height: 32px;
          border: 0;
          font-family: $avenir-Heavy;
          border-bottom: 1px solid #006838;
          caret-color: #006838;

          &::placeholder {
            color: #dbdbdb;
          }
        }

        textarea {
          min-height: 180px;
          height: 100% !important;
        }
      }

      .div-submit {
        margin-bottom: 60px;

        .btn {
          height: 60px !important;
          font-size: 20px;
          line-height: 36px;
          font-family: $avenir-Heavy;
        }
      }

      .note {
        p {
          color: #0b162b;
          text-align: center;

          span {
            color: #f00;
          }
        }
      }

      .contact-detail {
        img {
          margin-bottom: 20px;
        }

        .contact-address {
          margin-bottom: 40px;
          h4 {
            margin-bottom: 5px;
          }
          
          p {
            margin-bottom: 20px;
          }

          ul {
            li {
              &::before {
                display: none;
              }

              position: relative;
              margin-bottom: 8px;
              font-size: 18px;
              line-height: 32px;
              color: #242424;
              font-family: $avenir-roman;

              img {
                width: 20px;
                height: auto;
                object-fit: contain;
                position: absolute;
                left: 0;
                top: 5px;
              }

              a {
                color: #242424;

                &:hover {
                color: #A7D288;
                text-decoration: underline;

                }
              }
            }
          }
        }
      }
    }
  }

  .license-section {
    background-color: #f9fcf9;
    padding: 30px 0 100px 0;
    position: relative;
    overflow: hidden;

    .row-10 {
      margin: 0 10px;

      .pad-10 {
        padding: 0 10px;
      }
    }

    .heading {
      h2 {
        font-size: 38px;
        line-height: 60px;
        color: #3c454c;
        text-align: left;
        font-family: $avenir-Heavy;
        margin-bottom: 44px;
        text-transform: capitalize;
      }
    }

    .license-list {
      z-index: 0;
      position: relative;

      &::after {
        content: "";
        background-image: url(../images/Pattern-one.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 189px;
        width: 189px;
        display: block;
        position: absolute;
        right: -100px;
        bottom: 200px;
        z-index: -1;
      }

      .licence-box {
        min-height: 485px;
        max-height: 485px;
        background-color: #fff;
        border: 1px solid rgba(15, 45, 31, 0.09);
        margin-bottom: 13px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        overflow: hidden;
        height: 100%;

        .licence-body {
          padding: 20px 20px 60px 20px;
          height: 433px;
          position: relative;
          width: 100%;

          .licence-title {
            border-bottom: 1px solid #a7d288;
            margin-bottom: 20px;
            min-height: 102px;
            width: 100%;

            h3 {
              font-size: 28px;
              line-height: 40px;
              color: #2e3d36;
              margin-bottom: 20px;
            }
          }

          p {
            font-size: 18px;
            line-height: 32px;
            color: #2e3d36;
            font-family: $avenir-roman;
            margin-bottom: auto;
            -webkit-line-clamp: 7;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            display: -webkit-box;
            max-width: 98%;
          }

          ul {
            li {
              list-style: none;
              margin-left: 0;

              &::before {
                content: "- ";
                text-indent: -10px;
              }
            }
          }

          a.see-more {
            color: #0f2d1f;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 20px 20px 30px 20px;
            text-decoration: underline;
            font-family: $avenir-oblique;
            font-size: 18px;
            line-height: 32px;
          }
        }

        .licence-footer {
          width: 100%;

          a {
            background-color: #a7d288;
            padding: 14px 20px;
            width: 100%;
            display: block;
            text-align: center;
            font-size: 18px;
            color: #0f2d1f;
            line-height: 22px;
            transition: all 0.3s ease-in-out;
            font-family: $avenir-Heavy;
            
            &:hover {
              transition: all 0.3s ease-in-out;
              background-color: #0f2d1f;
              color: #fff;
            }
          }
        }
      }

    }
  }
}

.footer-section {
  padding: 58px 0 0 0;
  background-color: #0f2d1f;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.2);

  hr {
    margin: 30px 0 0 0;
    border-color: rgba(255, 255, 255, 0.2);
  }

  .footer-line-one {
    border-color: rgba(226, 226, 226, 0.21);
    margin: 0 0 40px 0;
  }

  .footer-content-logo {
    .logo-footer {
      margin-bottom: 40px;
      margin-top: 10px;

      img {
        width: 137px;
        height: auto;
        object-fit: cover;
        margin-left: -3px;
      }
    }

    p {
      width: 170px;
    }
  }

  .footer-content-link {
    padding: 20px 0 0 0;
  }

  .footer-content {
    margin-bottom: 50px;

    h3 {
      font-size: 14px;
      font-weight: 500;
      line-height: 26px;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 15px;
      font-family: $avenir-medium;
    }

    p {
      font-size: 14px;
      line-height: 22px;
      font-family: $avenir-light;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        font-size: 16px;
        line-height: 28px;
        display: inline-block;
        width: 100%;

        a {
          display: block;
          color: rgba(245, 255, 238, 0.6);
          font-size: 16px;
          line-height: 32px;
          text-decoration: none;
          transition: all 0.5s ease-in-out;

          &:hover {
            transition: all 0.5s ease-in-out;
            color: rgba(255, 255, 255, 1);
          }
        }
      }
    }

    .singup-div {
      .form-control {
        border-radius: 0;
      }

      .input-group .input-group-addon {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 99;
        height: 48px;
        padding: 9px 15px;
        width: auto;
        background-color: #a7d288;
        color: #0f2d1f;
        font-size: 14px;
        font-family: $avenir-book;
      }
    }
  }

  .copy-right-text {
    padding: 20px 0 70px 0;
    border-top: 1px solid rgba(120, 154, 193, 0.2);

    .footer-links-bottom {
      width: auto;

      li {
        padding: 0 24px;
        display: inline-block;

        a {
          color: #fff;

          &:hover {
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }

    p {
      font-size: 14px;
      font-weight: 500;
      line-height: 26px;
      margin-bottom: 0;
      color: rgba(255, 255, 255, 0.5);
      margin-left: 22px;
    }

    .footer-bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      .social-media {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            display: inline-block;
            margin-right: 5px;
            width: auto;

            &:last-child {
              margin-right: 0;
            }

            a {
              width: 48px;
              height: 48px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #fff;
              background-color: transparent;
              border: 1px solid rgba(180, 180, 180, 0);
              text-decoration: none;
              transition: all 0.5s ease-in-out;
              font-size: 18px;

              &:hover {
                width: 48px;
                height: 48px;
                transition: all 0.5s ease-in-out;
                border: 1px solid rgba(180, 180, 180, 0);
                color: #fff;
                background-image: url("../images/border.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
              }
            }
          }
        }
      }
    }
  }
}

/* ###########################################################################
############################## media query started ###############################
###################################################################################### */

@media (max-width: 320px) {
  .btn-pad-60 {
    padding: 12px 30px !important;
  }

  .header .page-title a {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .header {

    .page-title{
      display: none !important;
      position: absolute;
      left: 110px;
      top: -22px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      a {
        color: #fff;
        max-width: 100px;
        display: block;
        white-space: normal;
        line-height: 20px;
      }
    }

    .navbar {
      padding: 15px 0;
      z-index: 999;
      height: 75px;

      .row-100 {
        .col-12 {
          padding: 0 15px;
        }
      }

      .col-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .col-30 {
          flex: 0 0 20%;
          max-width: 20%;
        }

        .col-70 {
          flex: 0 0 80%;
          max-width: 80%;
        }
      }

      .navbar-brand {
        width: 140px;
        height: auto;
        padding: 0;
        position: relative;
        z-index: 9;

        img {
          width: 100%;
        }
      }

      .navbar-collapse {
        padding: 10px 0;

        .navbar-nav {
          .nav-item {
            padding: 0 20px;

            a {
              color: rgb(15, 45, 31);
              padding: 8px 12px;
              font-size: 16px;

              &:hover {
                color: rgba(15, 45, 31, 0.8);
              }

              &.active {
                color: rgba(15, 45, 31, 0.8);
              }
            }
          }

          .nav-btn {
            padding-left: 22px !important;
            .btn.btn {
              background-color: #0F2D1F !important;
              color: #fff !important;
            }
          }
        }
      }

      .navbar-toggler {
        color: #fff;
        padding: 0;
        outline: 0;
        position: absolute;
        right: 15px;
        top: -0px;
        border: 0;
        display: block;

        .navbar-toggler-icon {
          background-color: transparent;
          background-image: url("../../assets/images/menubar.png");
          background-repeat: no-repeat;
          background-size: contain;
          height: 40px;
          width: 40px;
          border: 0;
        }
      }
    }
  }

  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(15, 45, 31, 0.7);
    cursor: pointer;
    display: none;
    z-index: 99999;
  }

  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 999999;
    background-color: #fff;
    padding: 40px 0 20px 0 !important;
    flex-basis: auto;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    right: -400px;
  }

  .width-menu {
    // width: 70%;
    right: 0;
    display: block !important;
  }

  .closebtn {
    display: block !important;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      display: block;
      color: #fff;
      text-decoration: none;
    }
  }

  /* middle section start here */

  .middle-section {
    .home-banner-section {
      .banner-caption {
        h1 {
          font-size: 36px;
          line-height: 48px;
        }
      }

      .banner-img {
        margin-bottom: 60px;
      }

      .owl-dots {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0px;
        padding-left: 15px;
      }

    }

    .get-started-section {
      padding: 60px 0;

      .heading {
        h2 {
          font-size: 30px;
          line-height: 40px;
        }
      }
      .get-stated-main {

        .row-list {
          padding: 12px 0;
        }
        .get-started-content  {
          h3 {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 25px;
          }
        }
        .row-odd {
          .set-started-img {
            padding-right: 0;
          }

          .get-started-content {
            margin-left: 0;
          }
        }

        .row-even {
          flex-direction: column-reverse;

          .set-started-img {
            padding-left: 0;
          }
        }
      }
    }

    .interface-partner-section {
      padding: 60px 0;

      .heading {
        h2 {
          font-size: 30px;
          line-height: 40px;
        }
      }
      .our-partner-box {
        padding: 20px;
        min-height: 120px;
        max-height: 120px;

        img {
          height: 55px;
        }

        .text-box{
          height: 40px;
        }
      } 
      .c-h-40 {
        height: 20px;
      }

      .c-h-42 {
        height: 21px;
      }

      .c-h-37 {
        height: 18px;
      }

      .c-h-63 {
        height: 31px;
      }

      .c-h-67 {
        height: 33px;
      }

      .c-h-78 {
        height: 38px;
      }

      .c-h-45 {
        height: 23px;
      }

      .c-h-50 {
        height: 25px;
      }

      .c-h-55 {
        height: 27px;
      }

      .c-h-60 {
        height: 30px;
      }

      .c-h-65 {
        height: 33px;
      }
      .c-h-70 {
        height: 35px;
      }

      .c-h-75 {
        height: 37px;
      }

      .c-h-82 {
        height: 41px;
      }

      .c-h-90 {
        height: 45px;
      }

      
    }

    .our-partner-section {
      padding: 60px 0;
    }

    // inner pages

    .innerpage-header-section {
      height: 300px;

      .heading {
        padding: 25px 0;

        h2 {
          font-size: 30px;
          line-height: 42px;
        }
      }

      .breadcrumb {
        margin-top: 5px;
      }
    }

    .content-section {
      .content-root {
        .heading {
          h3 {
            font-size: 24px;
            line-height: 40px;
          }
        }

        .content-area {
          padding: 0 20px;

          h3 {
            font-size: 22px;
            line-height: 30px;
          }

          h4 {
            font-size: 20px;
            line-height: 26px;
          }

          ul {
            li {
              font-size: 16px;
              line-height: 28px;
            }
          }

          .content-logo {
            justify-content: center;
          }
        }

        &::before {
          display: none;
        }

        .form-group {
          margin-bottom: 30px;

          label {
            font-size: 16px;
            line-height: 25px;
            color: rgba(15, 45, 31, 0.5);
            display: block;

            span {
              color: #f00;
            }
          }
          .form-control {
            color: #222;
            padding: 10px 0;
            height: 50px;
            border-radius: 0;
            font-size: 20px;
            line-height: 32px;
          }
        }

        .div-submit {
          margin-bottom: 40px;

          .btn {
            height: 50px !important;
            line-height: 28px;
          }
        }
      }
    }

    .license-section {
     

      .heading {
        margin-bottom: 30px;

        h2 {
          font-size: 24px;
          line-height: 40px;
        }
      }

      .license-list {
        &::after {
          display: none;
        }
        .licence-box {
          .licence-body {
            .licence-title {
              min-height: unset;

              h3 {
                font-size: 20px;
                line-height: 28px;
              }
            }

            p {
              font-size: 16px;
              line-height: 28px;
            }
          }
        }
      }
    }
  }

  .footer-section {
    padding-top: 90px;

    .footer-content-logo {
      p {
        width: 100%;
      }
    }

    .social-media {
      margin-bottom: 55px;
    }

    .footer-content ul {
      margin-bottom: 20px;

      li {
        width: 48%;
        margin-bottom: 10px;
      }
    }

    .footer-content-link {
      padding: 20px 0 0 0;
    }

    .singup-div {
      margin-bottom: 50px;
    }

    .footer-content {
      margin-bottom: 0;
    }

    .copy-right-text {
      padding-bottom: 40px;

      .footer-links-bottom {
        text-align: center;
      }
    }
  }

  //  modal
}

@media (min-width: 1024px) and (max-width: 1130px) {
  // no css

  .header .navbar .collapse1 .navbar-nav .nav-item a {
    font-size: 16px;
    padding: 8px 10px;
    white-space: nowrap;
  }

  .header .navbar .collapse1 .navbar-nav .nav-item.nav-btn {
    padding-left: 30px !important;

    .btn.btn {
      background-color: #0F2D1F !important;
      color: #fff !important;
    }

    a.btn {
      padding: 8px 20px !important;
    }
  }
}

/* Portrait */

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    .navbar {
      padding: 8px 0;
      z-index: 999;
      height: 70px;

      .row-100 {
        .col-12 {
          padding: 0 15px;
        }
      }

      .col-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .col-30 {
          flex: 0 0 20%;
          max-width: 20%;
        }

        .col-70 {
          flex: 0 0 80%;
          max-width: 80%;
        }
      }

      .navbar-brand {
        width: 155px;
        height: auto;

        img {
          width: 100%;
        }
      }

      .navbar-collapse {
        padding: 10px 0;

        .navbar-nav {
          flex-direction: column !important;
          margin-left: 0 !important;
          width: 100%;

          .nav-item {
            padding: 0 20px;

            a {
              color: #0f2d1f;
              padding: 8px 12px;
              font-weight: 600;
              font-size: 16px;
              white-space: nowrap;

              &:hover {
                color: rgba(15, 45, 31, 0.8);
              }

              &.active {
                color: rgba(15, 45, 31, 0.8);
              }
            }
          }

          .nav-btn {
            padding-left: 22px !important;

            .btn.btn {
              background-color: #0F2D1F !important;
              color: #fff !important;
            }
          }
        }
      }

      .navbar-toggler {
        color: #fff;
        padding: 0;
        outline: 0;
        position: absolute;
        right: 15px;
        top: -0px;
        border: 0;
        display: block;

        .navbar-toggler-icon {
          background-color: transparent;
          background-image: url("../../assets/images/menubar.png");
          background-repeat: no-repeat;
          background-size: contain;
          height: 40px;
          width: 40px;
          border: 0;
        }
      }
    }
  }

  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(15, 45, 31, 0.7);
    cursor: pointer;
    display: none;
    z-index: 99999;
  }

  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 999999;
    background-color: #fff;
    padding: 40px 0 20px 0 !important;
    flex-basis: auto;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    right: -400px;
  }

  .width-menu {
    // width: 35%;
    right: 0;
    display: block !important;
  }

  .closebtn {
    display: block !important;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      display: block;
      color: #fff;
      text-decoration: none;
    }
  }

  .middle-section {
    .content-section {
      .content-root {
        &::before {
          display: none;
        }
      }
    }
  }
 

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  // middle section

  .middle-section {

    .home-banner-section {
      .owl-dots {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -60px;
        padding-left: 15px;
      }

      .text-link {
        margin-top: 65px;
      }
    }
    .get-started-section {
      padding: 60px 0;

      .get-stated-main {
        .row-list {
          justify-content: center;
          align-items: center;
        }

        .row-odd {
          .set-started-img {
            padding-right: 0px;
          }

          .get-started-content {
            margin-left: 0px;
          }
        }

        .row-even {
          flex-direction: column-reverse;

          .set-started-img {
            padding-left: 0px;
          }
        }
      }

    }
  }


  .footer-section {
    .footer-content ul li {
      width: 49%;
    }

    .social-media {
      margin-top: 30px;
    }
  }
}

/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .header {
    .navbar {
      .collapse1 {
        .navbar-nav {
          .nav-item {
            a {
              font-size: 16px;
              font-weight: 500;
              line-height: 22px;
              padding: 8px 15px;
            }
          }

          .nav-item.nav-btn {
            padding-left: 10px !important;
          }
        }
      }
    }
  }

  .footer-section {
    .social-media {
      margin-top: 30px;
    }
  }
}

/* ----------- iPad Pro ----------- */

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  .middle-section .home-banner-section .banner-box {
    margin: 0 0 130px 0;
  }

}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
  .middle-section {
    .home-banner-section {
      .owl-dots {
        position: absolute;
        left: 50%;
        right: 0;
        bottom: -60px;
        padding-left: 15px;
      }
    }

   .get-started-section .get-stated-main .row-even {
     flex-direction: unset;
   }
  }
}


.nav-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-account {
  padding-left: 10px;
  ul {
    list-style: none;
    display: inline-block;
    li {
      display: inline-block;
      a {
        display: block;
        color: rgba(15, 45, 31, 0.7);
        font-size: 22px;
        padding: 7px 20px;
        &:hover {
          color: rgba(15, 45, 31, 1);
        }
      }
    }
  }
}

.secure-logo{
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .maxw-120 {
    max-width: 120px !important;
  }
  a {
    display: inline-block;
    max-width: 80px;
    margin-right: 20px;
    

    &:last-child {
      margin-right: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 767px) {
  .user-account {
    padding-right: 60px;
    ul  {
      li {
        a {
          padding: 7px 10px;
          font-size: 20px;
        }
      }
    }
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  .user-account {
    padding-right: 60px;
    ul  {
      li {
        a {
          padding: 7px 15px;
          font-size: 22px;
        }
      }
    }
  }
}